{% extends "layout.html" %}

{% block content %}

<main>
  <header class="row tm-welcome-section">
    <h2 class="col-12 text-center tm-section-title">About Hurry Up And Buy</h2>
    <p class="col-12 text-center">We don't make or produce any of the goods that we sell. We merely profit from the sale of good by positioning ourselves as a node in the supply chain and adding a markup to the price.</p>
  </header>


  <div class="tm-container-inner tm-persons">
    <div class="row">
      <article class="col-lg-6" style="width:800px; margin:0 auto;">
        <figure class="tm-person">
          <img src="static/img/Capture.PNG" alt="Image" class="img-fluid tm-person-img" />
          <figcaption class="tm-person-description">
            <h4 class="tm-person-name">Sean Mooney</h4>
            <p class="tm-person-title">Founder and CEO</p>
            <p class="tm-person-about">One man with the vision to modify a bootstrap template and flog cheap chinese made goods at exorbitant prices to online shoppers that don't want to look past the first page of search results.</p>
            <div>
              <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
              <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
              <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
            </div>
          </figcaption>
        </figure>
      </article>
    </div>
  </div>
{% endblock %}
