{% extends "layout.html" %}

{% block content %}

<main>
	<header class="row tm-welcome-section">
		<h2 class="col-12 text-center tm-section-title">We want you to HURRY UP AND BUY!</h2>
		<p class="col-12 text-center">We have positioned ourselves somewhere between the actual producers and manufacturers of goods and the customer so that we may profit from the convoluted mess that is global trade and e-commerce.</p>
		<p class="col-12 text-center">If you want to HURRY UP AND BUY please click the sign up button above, or log in if you have already been forced to share your basic information with us.</p>
	</header>

	<div class="tm-container-inner tm-featured-image">
    <div class="row">
      <div class="col-12">
        <div class="placeholder-2">
          <div class="parallax-window-2" data-parallax="scroll" data-image-src="static/img/store-main.jpg"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="tm-container-inner tm-features">
    <div class="row">
      <div class="col-lg-4">
        <div class="tm-feature">
          <i class="fas fa-4x fa-pepper-hot tm-feature-icon"></i>
          <p class="tm-feature-description">HURRY UP AND BUY CHILLIS</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="tm-feature">
          <i class="fas fa-4x fa-seedling tm-feature-icon"></i>
          <p class="tm-feature-description">HURRY UP AND BUY VEGETABLES</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="tm-feature">
          <i class="fas fa-4x fa-cocktail tm-feature-icon"></i>
          <p class="tm-feature-description">HURRY UP AND BUY BEVERAGES</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
