{% extends "layout.html" %}

{% block content %}

<main>
	<header class="row tm-welcome-section">
		<h2 class="col-12 text-center tm-section-title">Welcome to Simple House</h2>
		<p class="col-12 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo a diam sollicitudin tempor id eu. Interdum velit laoreet id donec ultrices tincidunt arcu non. Sodales neque sodales ut etiam sit amet. Vitae sapien pellentesque habitant morbi tristique. Maecenas sed enim ut sem viverra aliquet. Amet commodo nulla facilisi nullam vehicula ipsum a arcu. Nisi porta lorem mollis aliquam. At tellus at urna condimentum mattis pellentesque id nibh. Consequat nisl vel pretium lectus quam. Placerat orci nulla pellentesque dignissim enim. Amet mauris commodo quis imperdiet.</p>
	</header>

	<div class="tm-container-inner tm-featured-image">
    <div class="row">
      <div class="col-12">
        <div class="placeholder-2">
          <div class="parallax-window-2" data-parallax="scroll" data-image-src="static/img/store-main.jpg"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="tm-container-inner tm-features">
    <div class="row">
      <div class="col-lg-4">
        <div class="tm-feature">
          <i class="fas fa-4x fa-pepper-hot tm-feature-icon"></i>
          <p class="tm-feature-description">Donec sed orci fermentum, convallis lacus id, tempus elit. Sed eu neque accumsan, porttitor arcu a, interdum est. Donec in risus eu ante.</p>
          <a href="#" class="tm-btn tm-btn-primary">Read More</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="tm-feature">
          <i class="fas fa-4x fa-seedling tm-feature-icon"></i>
          <p class="tm-feature-description">Maecenas pretium rutrum molestie. Duis dignissim egestas turpis sit. Nam sed suscipit odio. Morbi in dolor finibus, consequat nisl eget.</p>
          <a href="#" class="tm-btn tm-btn-success">Read More</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="tm-feature">
          <i class="fas fa-4x fa-cocktail tm-feature-icon"></i>
          <p class="tm-feature-description">Morbi in dolor finibus, consequat nisl eget, pretium nunc. Maecenas pretium rutrum molestie. Duis dignissim egestas turpis sit.</p>
          <a href="#" class="tm-btn tm-btn-danger">Read More</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
