{% extends "layout.html" %}

{% block content %}
	<main class="signup-section">
		<div class="login">
		<div class="login-screen">
		<div class="app-title"
			<h1>Log in</h1>
		</div>
			<div class="login-form">

			<form method="POST" action="/login">
				{{ form.hidden_tag() }}

				<div class="control-group">
					{{ form.email.label }}

					{% if form.email.errors %}
						{% for error in form.email.errors %}
							<p class="error-message">{{ error }}</p>
						{% endfor %}
					{% endif %}

					{{ form.email(class_="login-input") }}
				</div>

				<div class="control-group">
					{{ form.password.label }}

					{% if form.password.errors %}
						{% for error in form.password.errors %}
							<p class="error-message">{{ error }}</p>
						{% endfor %}
					{% endif %}

					{{ form.password(class_="login-input") }}
				</div>

				{{ form.submit(class_="signup-btn") }}

			</form>

			</div>
			</div>
		</div>
	</main>
{% endblock %}
