{% extends "layout.html" %}

{% block content %}

<div class="navbar">
  <form method="POST" action="/home">
  {% for cat in categories %}
    <div class="dropdown">
      <button class="dropbtn" formaction="?category={{ cat[0]['category'] }}">{{ cat[0]['category'] }}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        {% for sub in cat %}
        {% if loop.index > 1 %}
        <a href="?category={{ sub['subcat'] }}">{{ sub['subcat'] }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    </form>
  </div>

<main>
  <div class="s003">
      <form method="POST" action="/home/">
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="input-select">
              <select id="cat-select" data-trigger="" name="choices-single-defaul">
                <option value="placeholder">-- Select --</option>
                {% for cat in categories %}
                <option value="{{ cat[0]['cat_id'] }}">{{ cat[0]['category'] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="input-field second-wrap">
            {{ form.hidden_tag() }}

            {{ form.query.label }}

            {% if form.query.errors %}
              {% for error in form.query.errors %}
                <p class="error-message">{{ error }}</p>
              {% endfor %}
            {% endif %}

            {{ form.query }}
          </div>
          <div class="input-field third-wrap">
            {{ form.submit(class_="btn-search") }}
          </div>
        </div>
      </form>
    </div>
  <script src="/static/js/extention/choices.js"></script>
  <script>
    const choices = new Choices('[data-trigger]',
    {
      searchEnabled: false,
      itemSelectText: '',
    });

  </script>

<h2 style="text-align:center">{{ product_info['name'] }}</h2>

<div class="card">
  <img src="{{ product_info['image']['sizes'][1]['url'] }}" alt="Product Image" class="img-fluid tm-gallery-img" style="width:100%">
  <p class="price">{{ product_info['options'][0]['priceString'] }}</p>
  <p>{{ product_info['description'] }}</p>
</div>
<br></br>

{% endblock %}
